@import "components/common.css";
@import "components/header.css";
@import "components/services.css";
@import "components/fonts.css";

/*@media only screen and (max-width : 320px) {
    header{
        height: 500px;
    }
    h1{
        font-size: 26px;
    }
    h1 span{
        font-size: 16px;
    }
    .lamp img {
        width: 39%;
    }
    .caption{
        font-size: 23px;
    }
    .scroll{
        width: 45%;
        margin-left: 27%;
    }
    .scroll span::after{
        transform: translate(-100%, 112%);
    }
    .services-name{
        font-size: 25px;
    }
    .service{
        display: flex;
        flex-direction: column;
    }
    .left-services{
        width: 90%;
        text-align: center;
    }
    .right-services{
        width: 100%;
    }
    .name-list{
        font-size: 30px;
    }
    .name-list .line{
        right: -6px;
        width: 100%;
    }
    .services-text{
        width: 100%;
    }
    .laptop{
        margin-left: 14%;
    }
}
@media only screen and (max-width : 576px) {
    header{
        height: 410px;
    }
    h1{
        font-size: 35px;
    }
    h1 span{
        font-size: 20px;
    }
    .caption{
        font-size: 30px;
    }
    .services-name{
        font-size: 35px;
    }
    .left-services{
        width: 90%;
        text-align: center;
    }
    .right-services{
        width: 100%;
    }
    .name-list{
        font-size: 25px;
        margin: 10% 0;
    }
    .name-list .line{
        width: 107%;
        right: -19px;
    }
    .list-item {
        padding-bottom: 10%;
    }
    .services-text{
        width: 100%;
        margin-top: 0;
    }
    .laptop{
        margin-left: 16.5%;
    }
}
@media only screen and (min-width : 577px) {
    header{
        height: 500px;
    }
    h1{
        font-size: 6.3vw;
    }
    h1 span{
        font-size: 3.5vw;
    }
    .caption{
        font-size: 5.2vw;
    }
    .services-name{
        font-size: 5.3vw;
    }
    .left-services{
        width: 90%;
        text-align: center;
    }
    .right-services{
        width: 100%;
    }
    .name-list{
        font-size: 4vw;
        margin: 10%;
    }
    .name-list .line{
        width: 99%;
        right: -1px;
    }
    .list-item {
        padding-bottom: 10%;
    }
    .services-text {
        width: 100%;
        margin-top: 0;
    }
    .laptop{
        margin-left: 16.5%;
    }
}
@media only screen and (min-width : 768px) {
    header{
        height: 650px;
    }
}
@media only screen and (min-width : 992px) {
    header{
        height: 700px;
    }
}
@media only screen and (max-width : 1200px) {

}*/