@import "components/common.css";
@import "components/header.css";
@import "components/services.css";
@import "components/fonts.css";
@media only screen and (max-width : 375px) {
    header{
        height: 440px;
    }
    h1{
        top: 8px;
        font-size: 31px;
    }
    h1 span{
        font-size: 20px;
    }
    .lamp{
        width: 35%;
        margin-left: 0;
    }
    .caption{
        font-size: 25px;
        text-align: center;
    }
    .services{
        flex-direction: column;
    }
    .left-services {
        width: 100%;
    }
    .right-services{
        width: 100%;
    }
    .name-list {
        font-size: 41px;
        margin: 10% 10% 12% 5%;
    }
    .name-list .line{
        width: 113%;
        right: -34px;
    }
    .list{
        text-align: center;
        padding-left: 0;
    }
    .services-text{
        width: 100%;
        margin-top: 0;
    }
    .laptop {
        width: 95%;
    }
}
@media only screen and (min-width: 375px) and (max-width: 576px) {
    header{
        height: 530px;
    }
    h1{
        top: -156px;
        font-size: 39px;
        left: -19%;
    }
    .lamp {
        width: 20%;
        margin: 30% 0 10% -58%;
    }
    .services-name{
        margin-top: 15.5%;
    }
    .services{
        flex-direction: column;
        text-align: center;
    }
    .left-services {
        width: 100%;
        justify-content: center;
    }
    .right-services{
        width: 100%;
        justify-content: center;
    }
    .name-list{
        font-size: 37px;
        margin: 3%;
    }
    .name-list .line{
        right: -8px;
        width: 104%;
    }
    .services-text{
        width: 100%;
        margin-top: 0;
    }
    .laptop{
        margin-left: 13.5%;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    header{
        height: 525px;
    }
    h1{
        top: -180px;
        left: -18%;
    }
    .lamp{
        width: 25%;
        margin: 25% 0 0 -62%;
    }
    .caption{
        text-align: center;
    }
    section{
        height: 600px;
    }
    .services-name{
        margin-top: 10%;
    }
    .left-services{
        width: 50%;
    }
    .right-services{
        width: 50%;
    }
    .name-list{
        margin: 10% 10% 12% 3%;
        font-size: 34px;
    }
    .name-list .line{
        width: 108%;
        right: -14px;
    }
    .services-text{
        width: 100%;
        margin-top: 29.1%;
    }
    .laptop{
        width: 100%;
        margin-top: 17%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    header{
        height: 500px;
    }
    h1{
        top: -172px;
        left: -17%;
    }
    .lamp{
        margin-left: -53%;
    }
    .caption{
        text-align: center;
    }
    .name-list{
        margin: 10% 19% 12% 5%;
        font-size: 41px;
    }
    .name-list .line{
        width: 120%;
        right: -33px;
    }
    .services-text{
        width: 80%;
        margin-top: 17.1%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    header{
        height: 650px;
    }
    h1{
        top: -205px;
        left: -13%;
    }
    .lamp{
        margin-left: -43%;
        margin-top: 15%;
    }
    .services-text{
        width: 100%;
        margin-top: 16.1%;
    }
}