/*minimal device size - 320px*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2C2C2C;
    font: 24px Ubuntu-Light;
    color: #b4b4b4;
    padding: 0 10% 100px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

main h2 {
    font: 30px PlayfairDisplaySC-Bold;
    text-align: center;
    letter-spacing: -0.5px;
    color: #b4b4b4;
}