#contact-us{
    position: relative;
    display: flex;
    flex-direction: column;
}

#contact-us h2{
    margin-bottom: 5%;
}

#contact-us form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-us form input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 22px;
    background: transparent;
    border: 1px solid #454545;
    font-size: 15px;
    color: #b4b4b4;
    outline: none;
}

#message{
    height: 237px;
    width: 100%!important;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #454545;
    font-size: 15px;
    color: #b4b4b4;
    background: #2C2C2C;
    outline: none;
}

#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 57px;
    background: #b69b67;
    border: 1px solid #b69b67;
    font-size: 23px;
    font-weight: 500;
    color: #454545;
    cursor: pointer;
}

#submit:hover{
    background: transparent;
    border: 1px solid #454545;
    color: #b69b67;
}

#contact-us img{
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    z-index: -16;
    opacity: 0.25;
}

@media screen and (min-width: 576px) {
    #contact-us{
        align-items: center;
    }

    #contact-us form{
        width: 70%;
    }

}

@media screen and (min-width: 992px) {
    #contact-us {
        flex-wrap: wrap;
        width: 50%;
    }

    #contact-us form{
        width: 68%;
    }

    #contact-us form input{
        height: 55px;
    }

    #submit{
        width: 44%;
    }

}

