.feedbacks-item { /*better name - comment or something similar*/
    margin: 25px 0;
}

.content {
    display: flex; /*use flex only for it container*/
    padding-bottom: 30px;
}

.content p {
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0.3px;
}

.name-feedbacks {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 300;
    color: #b69b67;
    border-top: 1px solid;
}

.more-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px;
    cursor: pointer;
}

.more-info:hover {
    color: #b69b67;
}

@media screen and (max-width: 575px) {
    .content {
        flex-direction: column; /*column only for mobile - use @media: max-width*/
        align-items: center;
    }
}


@media screen and (min-width: 576px) {
    .content p {
        font-size: 23px;
        padding-left: 17px;
    }

    .name-feedbacks {
        justify-content: flex-end;
    }
}


@media screen and (min-width: 992px) {
    #info {
        flex-direction: row;
    }

    #feedbacks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 48%; /*why 48%?*/
    }

    .content p {
        font-size: 20px;
    }

    .more-info {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .feedbacks-item {
        margin-bottom: 69px;
    }

    .content {
        padding-bottom: 26px;
    }

    .content img {
        width: 15%;
    }

    .content p {
        font-size: 23px;
    }

    .name-feedbacks {
        font-size: 23px;
    }

}