#feedbacks{
    display: flex;/*you really need here flex?*/
    flex-direction: column;
}

.feedbacks-item{/*better name - comment or something similar*/
    display: flex;/*you can use it without flex*/
    flex-direction: column;
    align-items: center;
    height: 256px;/*why do you use height? for intents use margin/padding*/
    width: 100%;/*why do you use width for div?*/
    margin-bottom: 25px;
}

.people{
    display: flex;/*use flex only for it container*/
    flex-direction: column;/*column only for mobile - use @media: max-width*/
    align-items: center;
    justify-content: space-evenly;/* maybe space-between?*/
    width: 100%;/*default width?*/
    height: 100%;
}

.people p{
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0.3px;
}

.feedbacks-item h3{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;/*what default width for h1-6?*/
    font-size: 23px;
    font-weight: 300;
    color: #b69b67;
}

.feedbacks-item h3::after{/*use border-top for h3 instead*/
    content: "";
    position: absolute;
    width: 100%;
    margin-top: -7px;
    border-bottom: 1px solid #b69b67;
}

#feedbacks span{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 12px;
    cursor: pointer;
}

#feedbacks span:hover{
    color: #b69b67;
}

@media screen and (min-width: 576px) {
    .feedbacks-item{
        justify-content: space-around;
        height: 170px;
    }

    .people{
        flex-direction: row;
        height: 55%;
    }

    .people p{
        font-size: 23px;
        padding-left: 17px;;
    }

    .feedbacks-item h3{
        justify-content: flex-end;
    }
}

@media screen and (min-width: 992px) {
    #info{
        flex-direction: row;
    }
    #feedbacks {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 48%;/*why 48%?*/
    }

    .feedbacks-item {
       height: 200px;
    }

    .people p{
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #feedbacks{
        height: 709px;
    }

    .feedbacks-item {
        height: 184px;
    }

    .people img{
        width: 13%;
    }

    .people p{
        font-size: 23px;
    }

    .feedbacks-item h3::after{
        margin-top: -13px;
    }
}