header{
    width: 80%;
    height: 825px;
    margin: 0 10%;
    text-align: center;
}
h1{
    font: 47px PlayfairDisplaySC-Regular;
    color: #b69b67;
    border-top: 1px solid #b69b67;
    line-height: 1.2;
    display: inline-block;
    margin-top: 4.9%;
    position: relative;
    top: -292px;
    left: -6%;
}
h1 span{
    font: 24px Ubuntu-Light;
    color: #b4b4b4;
    position: absolute;
    bottom: -35px;
    right: -74px;
}
.lamp{
    width: 17.5%;
    margin-top: 18%;
    opacity: 70%;
    margin-left: -28%;
}
.caption{
    font-size: 49px;
    color: #b7a075;
    margin-top: -2.9%;
    margin-bottom: 9%;
    letter-spacing: -0.7px;
}
.scroll{
    font-size: 16px;
    color: #454545;
    left: -1%;
    position: relative;
}
.scroll::after{
    content: "";
    background-image: url(../../images/scroll.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -27px;
    width: 48px;
    height: 26px;
    right: 73px;
}
