/*format props by priority*/
#navigation {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 140px;
}

.sandwich {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid #454545;
    transition: all .5s linear;
}

.sandwich div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 60%;
    overflow: hidden;
}

.sandwich div span {
    background: #b4b4b4;
    width: 100%;
    height: 1px;
    transition: all .5s linear;
}

.sandwich span:nth-of-type(2n + 1) {
    width: 200%;
}

.sandwich span:nth-of-type(1) {
    transform-origin: bottom left;
}

.sandwich span:nth-of-type(3) {
    transform-origin: top left;
}

.sandwich:hover{
    border-color: #b69b67;
}

.sandwich:hover span {
    background: #b69b67;
}

.sandwich.active span:nth-of-type(1) {
    transform: rotate(44deg);
}

.sandwich.active span:nth-of-type(3) {
    transform: rotate(-44deg);
}

.sandwich.active span:nth-of-type(2) {
    opacity: 0;
}

@media screen and (min-width: 1200px) {
    #navigation {
        width: 65px;
        height: 65px;
        top: 203px;
    }
}