/*format props by priority*/
#navigation {
    position: absolute;
    width: 80%;
    height: 600px;
    top: 107px;
    z-index: 999;
}

.sandwich {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
    border: 1px solid #454545;
}

.sandwich div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.sandwich div span {
    position: relative;
    width: 60%;
    height: 1px;
    background: #b4b4b4;
    /*transition: transform 2s ease;*/
}

.sandwich:hover {
    border-color: #b69b67;
}

.sandwich:hover div span {
    background: #b69b67;
}

#navigation.active .sandwich div span:nth-of-type(1) {
    width: 100%;
    transform: translate(8px, -3px) rotate(45deg);
    transform-origin: left top;
}

#navigation.active .sandwich  div span:nth-of-type(2) {
    opacity: 0;
}

#navigation.active .sandwich div span:nth-of-type(3) {
    width: 100%;
    transform: translate(-6px, -29px) rotate(-45deg);
    transform-origin: right bottom;
}

#pull {
    position: absolute;
    width: 97%;
    top: 30px;
    bottom: 0;
    background-color: #2C2C2C;
    background-image: url(../../images/menu.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 75%;
    display: flex;
    flex-direction: column;
    transition: opacity 1s linear;
    opacity: 0;
}

#navigation.active #pull{
    opacity: 1;
}

.menu-name {
    width: 100%;
    text-decoration: none;
    font-size: 30px;
    font-family: 'PlayfairDisplaySC', sans-serif;
    font-weight: 700;
    color: #b4b4b4;
    text-align: center;
    letter-spacing: -0.5px;
}

#menu, #sign {
    list-style-type: none;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#menu li, #sign li {
    margin-bottom: 10px;
}

#menu li a, #sign li a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #b4b4b4;
    text-decoration: none;
}

#menu li a:hover {
    text-decoration: overline;
    color: #b7a075;
}

#sign li a:hover {
    color: #695631;
}

#pull input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #353535;
    color: #b4b4b4;
    outline: none;
    text-align: left;
    background-image: url(../../images/search.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position-x: right;
}


/*.sandwich:hover span:nth-of-type(2n+1) {
    transform: translateX(25px);
}

.sandwich:hover span:nth-of-type(2n) {
    transform: translateX(-25px);
}*/

@media screen and (min-width: 576px) {
    #navigation {
        height: 450px;
        width: 85%;
        /*top: 190px;*/
        top: 165px;
    }

    .sandwich{
        width: 60px;
        height: 60px;
    }

    #navigation.active .sandwich div span:nth-of-type(1) {
        transform: translate(9px, -5px) rotate(45deg);
    }

    #navigation.active .sandwich div span:nth-of-type(3) {
        transform: translate(-9px, -35px) rotate(-45deg);
    }

    .menu-name {
        font-size: 45px;
    }

    #pull{
        flex-direction: row;
        flex-wrap: wrap;
        background-size: 36%;
    }

    #menu {
        width: 25%;
        text-align: left;
    }

    #sign {
        width: 35%;
        text-align: left;
    }

    #pull input {
        width: 35%;
    }
}