/*format props by priority*/
#navigation {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 140px;
    border: 1px solid #454545;
}

.sandwich {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sandwich span {
    width: 60%;
    height: 1px;
    background: #b4b4b4;
    transition: transform 2s ease;
}

.sandwich:hover span:nth-of-type(2n+1) {
    transform: translateX(25px);
}

.sandwich:hover span:nth-of-type(2n) {
    transform: translateX(-25px);
}

@media screen and (min-width: 1200px) {
    #navigation {
        width: 65px;
        height: 65px;
        top: 203px;
    }
}