#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14%;
}

select {
    position: relative;
    width: 185px;
    padding: 7px 13px 7px 9px;
    margin: 34px 0 55px;
    background-image: url(../../images/scroll.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 96% center;
    border: 1px solid #454545;
    font-size: 20px;
    font-weight: 300;
    color: #b4b4b4;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

option {
    background-color: #2C2C2C;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    /*padding: 0 25px;*/
    transition: opacity 1s linear;
    /*transition: transform 1s linear;*/
    /*transform: translateX(-100%);*/
}

.slide.active {
    opacity: 1;
    /*transform: translateX(0);*/
}

.slide.active ~ .slide {
    /*transform: translateX(100%);*/
}

.slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    z-index: 99999;
}

.slider-item button {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background: #b69b67;
    border: 1px solid #b69b67;
    opacity: 0;
    transition: opacity .4s linear;
    cursor: pointer;
    z-index: 1;
}

.slider-item button a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #303030;
}

.slider-item:hover button {
    opacity: 1;
}

.slider-item:hover .slider-text {
    opacity: 0;
}

.slider-item:hover {
    opacity: 1;
}

.slider-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7% 8% 7%;
    background: #b69b67;
    color: #303030;
    opacity: 1;
    transition: opacity .4s linear;
}

.slider-text h3 span {
    position: relative;
    font-size: 6.37vw;
    font-weight: 500;
    letter-spacing: -1.8px;
}

.slider-text h3 span::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    bottom: -8%;
    border-bottom: 1px solid #303030;
}

.slider-text p {
    font-size: 3.41vw;
    font-weight: 500;
    opacity: 0.9;
}

.slider-text i {
    font-size: 2.9vw;
    font-weight: 500;
    text-align: right;
    opacity: 0.75;
}

.pagination {
    margin-top: 27px;
}

.pagination span {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    user-select: none
}

.pagination span:first-child, .pagination span:last-child {
    color: #454545;
}

.pagination span:first-child:hover, .pagination span:last-child:hover {
    color: #b69b67;
}

.pagination span:nth-child(3) {
    color: #b69b67;
    cursor: none;
}

.pagination span:nth-child(2n) {
    color: #b4b4b4;
}

@media screen and (min-width: 576px) {
    .slide {
        flex-direction: row;
        flex-wrap: wrap;
        height: 900px;
    }

    .slider-item {
        flex-direction: row;
        width: 100%;
        height: calc(24.5% - 7px);
        padding-top: 0;
        margin-bottom: 0;
    }

    .slider-text {
        width: 50%;
        left: 50%;
        padding: 3% 4% 3%;
    }

    .slider-text h3 span {
        font-size: 18px;
    }

    .slider-text h3 span::after {
        left: -120px;
    }

    .slider-text p {
        font-size: 12px;
    }

    .slider-text i {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .slide {
        max-height: 450px;
        height: 50vw;
    }

    .slider-item {
        width: calc(50% - 7px);
        height: calc(50% - 7px);
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    select {
        font-size: 24px;
    }

    .slider-item button {
        padding: 10px;
    }

    .slider-item button a {
        font-size: 20px;
    }

    .slider-text h3 span {
        font-size: 26px;
    }
}
