#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14%;
}
select {
    position: relative;
    width: 185px;
    background-image: url(../../images/scroll.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 96% center;
    border: 1px solid #454545;
    padding: 7px 13px 7px 9px;
    font: 20px Ubuntu-Light;
    color: #b4b4b4;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    margin: 34px 0 55px;
}
option{
    background-color: #2C2C2C;
}

.slider{
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider div{
    height: 385px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-img{
    width: 52%;
    overflow: hidden;
}
/**
Question:
does not match  with psd
1) Can create own class for each image with custom margins;
2) Can cut images in photoshop;
3) Can stay as-is.
 */
.wrapper-img img{
    width: 203%;
    margin: -2% 0% -59% -2%;
    opacity: 50%;
}

.slider div .slider-text{
    background: #b69b67;
    width: 100%;
    flex-direction: column;
    color: #303030;
}

.slider div .slider-text h3{
    font: 23px Ubuntu-Medium;
    margin-left: 17px;
    margin-top: 14px;
    letter-spacing: -1.8px;
    position: relative;
}

.slider div .slider-text h3 span{
    border-bottom: 1px solid #303030;
    position: absolute;
    width: 80%;
    left: -8%;
    bottom: -8%;
}

.slider div .slider-text p{
    font: 12px Ubuntu-Medium;
    margin-left: 19px;
    margin-top: 58px;
    line-height: 1.3;
    opacity: 0.9;
}

.slider div .slider-text span{
    font: 10px Ubuntu-MediumItalic;
    text-align: right;
    margin-top: 18px;
    margin-right: 5%;
    opacity: 0.75;
}

.prev-next{
    margin-top: 10px;
}

.prev-next  a{
    font: 10px Ubuntu-Medium;
    text-decoration: none;
}

.prev-next a:first-child,.prev-next a:last-child{
    color: #454545;
}

.prev-next a:nth-child(3){
    color: #b69b67;
}

.prev-next a:nth-child(2n){
    color: #b4b4b4;
}

@media screen and (min-width: 576px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {
    .slider{
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        height: 400px;
    }

    .slider div{
        height: 180px;
        width: 48%;
        flex-wrap: wrap;
    }

    .wrapper-img img {
        width: 256%;
    }

    .slider div .slider-text {
        width: 50%;
    }

    .slider div .slider-text h3{
        font-size: 17px;
    }
    .slider div .slider-text p{
        margin-top: 28px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    select{
        font-size: 24px;
    }

    .slider{
        height: 475px;
        flex-direction: row;
    }

    .slider div {
        height: 215px;
        flex-direction: row;
    }

    .slider div .wrapper-img{
        width: 52%;
    }

    .wrapper-img img {
        width: 203%;
    }

    .slider div .slider-text {
        width: 47%;
    }

    .slider div .slider-text h3{
        font-size: 26px;
    }

    .slider div .slider-text h3 span{
        width: 105%;
        left: -38%;
    }

    .slider div .slider-text p{
        margin-top: 58px;
    }
}