#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14%;
}

select {
    position: relative;
    width: 185px;
    padding: 7px 13px 7px 9px;
    margin: 34px 0 55px;
    background-image: url(../../images/scroll.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 96% center;
    border: 1px solid #454545;
    font: 20px Ubuntu-Light;
    color: #b4b4b4;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

option{
    background-color: #2C2C2C;
}

.slider{
    width: 100%;
    height: 1075px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.slider-item {
    position: relative;
    height: 256px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.slider-item button{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46%;
    height: 20%;/*relative height. why? do you have relative font size?*/
    background: #b69b67;
    border: 1px solid #b69b67;
    opacity: 0;
    transition: opacity .4s linear;
    cursor: pointer;
}

.slider-item button a{
    text-decoration: none;
    font: 15px Ubuntu-Medium;
    color: #303030;
}

.slider-item:hover button{
    opacity: 1;
}

.slider-item:hover .slider-text{
    opacity: 0;
}

.slider-item:hover{
    opacity: 1;
}

.slider-item:nth-child(1){
     background-image: url("../../images/1-hover.png");
}

.slider-item:nth-child(2){
    background-image: url("../../images/3-hover.png");
}

.slider-item:nth-child(3){
    background-image: url("../../images/2-hover.png");
}

.slider-item:nth-child(4){
    background-image: url("../../images/4-hover.png");
}

 .slider-text{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     padding: 7% 8% 7%;
     background: #b69b67;
     color: #303030;
     opacity: 1;
     transition: opacity .4s linear;
}

.slider-text h3{
    position: relative;
    width: 80%;
    font: 23px Ubuntu-Medium;
    letter-spacing: -1.8px;
}

.slider-text h3::after{
    content: "";
    position: absolute;
    width: 105%;
    left: -12%;
    bottom: -8%;
    border-bottom: 1px solid #303030;
}

.slider-text p{
    font: 12px Ubuntu-Medium;
    opacity: 0.9;
}

.slider-text span{
    font: 10px Ubuntu-MediumItalic;/*use only font weight; check all similar places*/
    text-align: right;
    opacity: 0.75;
}

.prev-next{
    margin-top: 10px;
}

.prev-next  span{
    font: 10px Ubuntu-Medium;/*here*/
}

.prev-next span:first-child,.prev-next span:last-child{
    color: #454545;
}

.prev-next span:nth-child(3){
    color: #b69b67;
}

.prev-next span:nth-child(2n){
    color: #b4b4b4;
}

@media screen and (min-width: 576px) {
    .slider{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .slider-item{
        flex-direction: row;
        width: 100%;
    }

    .slider-text{
        width: 50%;
        left: 50%;
        padding: 3% 4% 3%;
    }

    .slider-text h3{
        width: 90%;
    }

    .slider-text h3::after{
        width: 145%;
        left: -54%;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {
    .slider{
        height: 525px;
    }

    .slider-item{
        width: 49%;
    }

    .slider-text h3{
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    select{
        font-size: 24px;
    }

    .slider{
        height: 450px;
    }

    .slider-item{
        height: 215px; /*fixed height only for mobile*/
    }
    .slider-item button a{
        font-size: 20px;
    }

    .slider-text h3{
        width: 97%;
        font-size: 26px;
    }
}
