section{
    width: 80%;
    height: 650px;
    margin: 0 10%;
}
.services-name{
    font: 51px PlayfairDisplaySC-Bold;
    margin: 0.2% 0 auto 39.5%;
    letter-spacing: -0.5px;
    color: rgba(180,180,180,255);
}
.services{
    display: flex;
    flex-wrap: wrap;
}
.left-services{
    justify-content: flex-start;
    width: 32%;
}
.right-services{
    justify-content: flex-end;
    width: 68%;
}
.name-list{
    color: rgba(182,155,103,1);
    font-size: 46px;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(182,155,103,1);
    position: relative;
    margin: 10% 26% 12% 5%;
}
.name-list .line{
    border-bottom: 1px solid #ffffff;
    position: absolute;
    bottom: -2px;
    width: 135%;
    right: -92px;
}
.list{
    list-style-type: none;
    padding-left: 5%;
}
.list-item{
    padding-bottom: 13.9%;
}
.list-item a{
    text-decoration: none;
    color: rgba(180,180,180,1);
}
.list-item a:hover{
    color: rgba(182,155,103,1);
}
.services-text{
    width: 48%;
    font-size: 17px;
    margin-top: 8.4%;
    margin-left: 1.6%;
    letter-spacing: -0.3px;
    line-height: 19px;
    text-align: justify;
}
.services-text span{
    color: rgba(182,155,103,255);
}
.laptop{
    width: 74%;
    margin-left: 7.5%;
    margin-top: 7%;
    opacity: 50%;
}