#services {
    margin-top: 23%;
}

.services {
    display: flex;
    flex-direction: column;
    margin-top: 39px;
}

.right-services {
    display: flex;
    flex-direction: column;
}

.name-list {
    color: #b69b67;
    font-size: 25px;
    letter-spacing: -0.16px;
    border-bottom: 1px solid #454545;
}

.name-list span {
    border-top: 1px solid #b69b67;
}

.list {
    list-style-type: none;
    margin-top: 20px;
    font-size: 20px
}

.list li {
    margin-bottom: 10px;
}

.list li a {
    text-decoration: none;
    color: #b4b4b4;;
}

.list li a:hover {
    color: #b69b67;
}

.services-text {
    align-self: center;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: -0.435px;
    line-height: 19px;
    text-align: justify;
    max-width: 400px;
}

.services-text a {
    color: #b69b67;
    text-decoration: none;
}

.laptop {
    width: 78%;
    margin-top: 9%;
    opacity: 50%;
    align-self: center;
}


@media screen and (min-width: 576px) {

}

@media screen and (max-width: 767px) {
    .left-services {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    #services {
        margin-top: 13.8%;
    }

    .services {
        flex-direction: row;
    }

    .left-services {
        padding: 0 15px;
        width: 405px;
    }

    .services-text {
        margin-top: 5.4%;
    }

    .list li {
        margin-bottom: 52px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    main h2 {
        font-size: 45px;
    }

    .name-list {
        font-size: 45px;
        margin-top: 4%;
        margin-bottom: 12%;
    }

    .list {
        font-size: 24px;
    }

    .services-text {
        align-self: flex-start;
    }

    .laptop {
        margin-left: -11.5%;
    }
}

