#services {
    margin-top: 23%;
}

.services {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.name-list {
    color: #b69b67;
    font-size: 25px;
    letter-spacing: -0.16px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.name-list span {
    border-top: 1px solid #b69b67;
}

.list {
    list-style-type: none;
    margin-top: 20px;
    font-size: 20px
}

.list li{
    margin-bottom: 10px;
}

.list li a {
    text-decoration: none;
    color:  #b4b4b4;;
}

.list li a:hover {
    color: #b69b67;
}

.services-text {
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: -0.435px;
    line-height: 19px;
    text-align: justify;
}

.services-text a {
    color: #b69b67;
    text-decoration: none;
}

.laptop {
    width: 74%;
    margin-left: 13.5%;
    margin-top: 7%;
    opacity: 50%;
}


@media screen and (min-width: 576px) {

}

@media screen and (max-width: 767px) {
    .left-services {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    #services{
        margin-top: 13.8%;
    }
    .services {
        flex-direction: row;
    }

    .left-services {
        padding: 0 15px;
        width: 300px;
    }

    .services-text {
        margin-top: 6%;
        margin-left: 7%;
        width: 400px;
    }
    .list li{
        margin-bottom: 16%;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    main h2{
        font-size: 45px;
    }
    .name-list{
        font-size: 45px;
        margin-top: 6%;
        margin-bottom: 14%;
    }
    .list{
        font-size: 24px;
    }
}

